.product-details-container {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #efefef;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @media (max-width: 992px) {
    width: 100%;
    height: fit-content;
  }

  .error-message {
    color: red;
  }

  .field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .submit-btn {
    margin-top: 40px;
    width: 100%;
  }

  .cancel-btn {
    margin-top: 20px;
    width: 100%;
  }
}
