.my-store-container {
  display: flex;
  height: 100vh;

  .products-list-container {
    width: 100%;
    &.side-open {
      width: 70%;
      overflow-y: scroll;
      @media (max-width: 992px) {
        display: none;
      }
    }

    .filter-header {
      position: sticky;
      top: 0px;
      background: #9fa1b5;
      z-index: 1;
      padding: 20px;
      box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.45);
      display: flex;
      gap: 20px;
      .filter-btn {
        border-color: #159b45;
        color: #159b45;
      }
      .filter-input {
        width: 200px;
      }
      .filter-select {
        width: 200px !important;
      }
    }
  }
}
